$main_font: 'Baloo 2', 'Tahome', 'Arial', sans-serif;


$color_bg: #102020;
$color_orange: #F64904;
$color_white: #FFF;

$shadow: 5px 5px 5px $color_bg;
$shadow_soft: 3px 3px 10px rgba($color_bg, .5);
